@import '~bootstrap/scss/_functions.scss';
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

html {
  min-height: 100vh !important;
}

body {
  background-color: #f6f5f3 !important;
  min-height: inherit !important;
}

root {
  min-height: inherit !important;
}

.markdown-header {
  color: #7dce94;
  font-size: 1.5rem;
}

.textarea-header {
  color: #a8943d;
  font-size: 1.2rem;
}

.footer-markdown {
  background-color: #7dce94;
  box-sizing: border-box;
}

@media (min-width: 768px ) {
  .markdown-header {
    font-size: 2.5rem;
  }

  .textarea-header {
    font-size: 2rem;
  }

}

@media (min-width: 1024px ) {
  .markdown-header {
    font-size: 3.5rem;
  }

  .textarea-header {
    font-size: 2.5rem;
  }

  .footer-markdown {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

}

@media (min-width: 1280px ) {
  .markdown-header {
    font-size: 2.5rem;
  }

  .textarea-header {
    font-size: 2rem;
  }

}